 <div *ngIf="loading">Loading products...</div>
 <div *ngIf="!loading && products.length > 0; else noProducts">
   <div class="row">
     <div class="col-md-4" *ngFor="let product of products">
       <div class="card mb-3">
         <div class="card-body">
          <img
            [src]="product.image ? product.image : '../../../assets/default-image.jpg'"
            class="card-img-top"
            alt="{{ product.name }}"
          />
           <h5 class="card-title">{{ product.name }}</h5>
           <p class="card-text">Category: {{ product.category }}</p>
           <p class="card-text">Price: ${{ product.price }}</p>
           <button class="btn btn-warning me-2" (click)="editProduct(product)">Edit</button>
           <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
         </div>
       </div>
     </div>
   </div>
 </div>
 <ng-template #noProducts>
   <p>No products available in this category.</p>
 </ng-template>
